---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-backgroundDot">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav>
			<div
				class="bg-transparent flex flex-wrap justify-between items-center mx-auto max-w-screen-xl mt-10 ml-10"
			>
				<a
					href="/"
					class="flex items-center space-x-3 rtl:space-x-reverse"
				>
					<span
						class="text-2xl font-semibold whitespace-nowrap dark:text-white"
						>TEXT</span
					>
				</a>
				<div class="flex items-center rtl:space-x-reverse">
					<div
						class="hidden w-full md:block md:w-auto"
						id="navbar-default"
					>
						<ul
							class="font-medium flex flex-col md:p-0 mt-10 border rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
						>
							<li>
								<code>
									<a
										href="/projects"
										class="blocktext-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-zinc-700 md:p-0 dark:text-white md:dark:hover:text-zinc-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent transition-colors duration-500"
										>Projects</a
									>
								</code>
							</li>
							<li>
								<code
									><a
										href="/career"
										class="blocktext-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-zinc-700 md:p-0 dark:text-white md:dark:hover:text-zinc-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent transition-colors duration-500"
										>Career</a
									></code
								>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 50, 50, 50;
		--accent-light: 200, 200, 200;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		margin: 4rem;
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
